[Desktop Entry]
Name=Morrowind - Ecarlate
Comment=Online RPG
Exec="~/Games/Morrowind/launcher.sh" %U
Terminal=false
Type=Application
Icon=morrowind
Categories=Game;
